/materialize-v3.1
/PosSystem/.vs
/PosSystem/src/PosSystem/node_modules
/PosSystem/src/PosSystem/obj
/PosSystem/src/PosSystem/bin
/PosSystem/src/PosSystem/wwwroot/lib
/PosSystem/src/PosSystem/wwwroot/app
