<div class="cinfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="contact-info">
                    <li><i class="fa fa-phone"></i> 809 234 2029</li>
                    <li><i class="fa fa-envelope"></i> info@possystem.com</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline cinfo-social-buttons">
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a></li>
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-dribbble fa-fw"></i></a></li>
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>