<div class="wrap-content wrap-content1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <hr class="heading-spacer">
                <div class="clearfix"></div>
                <h2>Resposive design for <br>all devices</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac facilisis ante. Praesent gravida tempus suscipit. Praesent vel sem id ligula malesuada vehicula at id orci. In sem quam, semper id fringilla sed, sodales a ante. Ut molestie a lorem in luctus. Suspendisse dignissim leo quis purus mollis fermentum.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="portada/2.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>