<div class="wrap-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <img class="img-responsive" src="portada/1.jpg" alt="">
            </div>
            <div class="col-lg-5">
                <hr class="heading-spacer">
                <div class="clearfix"></div>
                <h2>Cross browser ipsum<br>compatible</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac facilisis ante. Praesent gravida tempus suscipit. Praesent vel sem id ligula malesuada vehicula at id orci. In sem quam, semper id fringilla sed, sodales a ante. Ut molestie a lorem in luctus.</p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>