<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Like our product? Subscribe for Updates.</h3>
                <input type="text" placeholder="Email Address" />
                <a href="#" class="btn btn-lg btn-primary"><i class="fa fa-envelope"></i> Join Now</a>
            </div>
        </div>
    </div>
</div>