<div class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pull-center" style="text-align:center;color:#fff;margin-bottom:50px;">Planes y Precios</h1>
            </div>
        </div>
        <div class="row">

            <!-- Pricing Plan - 1 -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Inicial</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$0<span class="price-cents">00</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">1 Usuario</li>
                        <li class="list-group-item">1 Empresa</li>
                        <li class="list-group-item">Todas las funcionalidades</li>
                        <li class="list-group-item">Transacciones ilimitadas</li>
                        <li class="list-group-item"><a class="btn btn-primary" href="#">Registrarse ahora!</a></li>
                    </ul>
                </div>
            </div>

            <!-- Pricing Plan - 2 -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Basico</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$4<span class="price-cents">99</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">3 Usuarios</li>
                        <li class="list-group-item">1 Empresa</li>
                        <li class="list-group-item">Todas las funcionalidades</li>
                        <li class="list-group-item">Transacciones ilimitadas</li>
                        <li class="list-group-item"><a class="btn btn-primary" href="#">Registrarse ahora!</a></li>
                    </ul>
                </div>
            </div>

            <!-- Pricing Plan - 3 -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Estandar<span class="label label-success">Mas usado!</span></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$9<span class="price-cents">99</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">5 Usuarios</li>
                        <li class="list-group-item">3 Empresas</li>
                        <li class="list-group-item">Todas las funcionalidades</li>
                        <li class="list-group-item">Transacciones ilimitadas</li>
                        <li class="list-group-item"><a class="btn btn-primary" href="#">Registrarse ahora!</a></li>
                    </ul>
                </div>
            </div>

            <!-- Pricing Plan - 4 -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Negocios</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$14<span class="price-cents">99</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">10 Usuarios</li>
                        <li class="list-group-item">5 Empresas</li>
                        <li class="list-group-item">Todas las funcionalidades</li>
                        <li class="list-group-item">Transacciones ilimitadas</li>
                        <li class="list-group-item"><a class="btn btn-primary" href="#">Registrarse ahora!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>