<div id="services" class="services">
    <div class="container">
        <div class="row">

            <!-- Service - 1 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-desktop"></i>
                    <h4>Responsive Design</h4>
                    <p>Sed dolor nisl, blandit nec lacus dignissim, sollicitudin elementum erat. Nulla viverra massa vitae diam aliquam ullamcorper.</p>
                </div>
            </div>

            <!-- Service - 2 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-rocket"></i>
                    <h4>Quick Launch</h4>
                    <p>Sed dolor nisl, blandit nec lacus dignissim, sollicitudin elementum erat. Nulla viverra massa vitae diam aliquam ullamcorper.</p>
                </div>
            </div>

            <!-- Service - 3 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-code"></i>
                    <h4>Clean Coded</h4>
                    <p>Sed dolor nisl, blandit nec lacus dignissim, sollicitudin elementum erat. Nulla viverra massa vitae diam aliquam ullamcorper.</p>
                </div>
            </div>

            <!-- Service - 4 -->
            <div class="col-lg-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-users"></i>
                    <h4>Clients Loving</h4>
                    <p>Sed dolor nisl, blandit nec lacus dignissim, sollicitudin elementum erat. Nulla viverra massa vitae diam aliquam ullamcorper.</p>
                </div>
            </div>

        </div>
    </div>
</div>