<div class="container tabs-content">
    <div class="row">

        <!-- Tab Slider -->
        <div class="col-lg-6 col-sm-6">
            <div class="iphone-div">
                <img class="img-responsive" src="portada/1.png" alt="">
            </div>
            <div class="android-div">
                <img class="img-responsive" src="portada/2.png" alt="">
            </div>
            <div class="windows-div">
                <img class="img-responsive" src="portada/3.png" alt="">
            </div>
        </div>

        <!-- Tab Content -->
        <div class="col-lg-6 tab-side">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab" class="i-div"><i class="fa fa-apple"></i> Apple</a></li>
                <li><a href="#service-two" data-toggle="tab" class="a-div"><i class="fa fa-android"></i> Android</a></li>
                <li><a href="#service-three" data-toggle="tab" class="w-div"><i class="fa fa-windows"></i> Windows</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">
                    <h3>Iphone Version</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                    <a href="#"><button class="btn1 btn-7 btn-7a"><i class="fa fa-apple"></i> Download Now</button></a>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <h3>Android Version</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                    <a href="#"><button class="btn1 btn-7 btn-7a"><i class="fa fa-android"></i> Download Now</button></a>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <h3>Windows Version</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                    <a href="#"><button class="btn1 btn-7 btn-7a"><i class="fa fa-windows"></i> Download Now</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>