<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="top-message">
                    <h1>PosSystem</h1>
                    <h3>Facturacion y punto de venta en linea</h3>
                    <hr class="top-divider">
                    <br>
                    <p>Facturacion y punto de venta de facil uso y acceso en linea. Tenemos planes que se adaptan a sus necesidades, desde totalmente gratis para un usuario, hasta comodas cuotas mensuales en base a la cantidad de usuarios que necesite</p>
                    <ul class="list-unstyled top-buttons">
                        <li><a href="#" class="lmore"><i class="fa fa-arrow-circle-o-right fa-fw"></i><span>Aprende mas</span></a></li>
                        <li><a href="/Account/Register" class="lmore"><i class="fa fa-arrow-circle-o-right fa-fw"></i><span>Crea una cuenta</span></a></li>
                        <li><a href="/App" class="lmore"><i class="fa fa-arrow-circle-o-right fa-fw"></i><span>Entra si ya eres miembro</span></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li><img src="portada/slide/1.png" alt="" /></li>
                        <li><img src="portada/slide/2.png" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
