<div class="section text-center welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>A Clean &amp; Simple landing page for all type of websites</h2>
                <p>Nullam quis elementum ligula. Sed neque neque, molestie eget nulla eu, hendrerit tincidunt magna. Aliquam molestie lorem sed metus ornare luctus. Cras vel lectus libero.</p>
                <div class="cl-effect-2 btn2">
                    <a href="#"><span data-hover="Scroll for more">Check more features</span></a>
                </div>
                <hr>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>