<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © @DateTime.Now.Year <a class="grey-text text-lighten-4" href="http://mangux.com" target="_blank">POS System</a> Todos los derechos reservados.</span>
            <span class="right">Desarrollado por <a class="grey-text text-lighten-4" href="http://mangux.com/">Mangux</a></span>
        </div>
    </div>
</footer>