<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="PosSystem es un systema de facturacion y punto de venta en la nube con modulos de: Facturacion, Inventario, Clientes, Compras, Bancos, Ingresos, Gastos ">
    <meta name="keywords" content="Facturacion, Punto de venta, POS, Ventas, Clientes, Inventario, Compras, Gastos, Bancos, Contabilidad">
    <title>Posystem - Facturacion y punto de venta online</title>

    <title>PosSystem - Facturacion y Punto de Venta</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="portada/css/bootstrap.css">
    <link rel="stylesheet" href="portada/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="portada/css/style.css">
    <link rel="stylesheet" href="portada/js/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="portada/js/owl-carousel/owl.theme.css" />
    <link rel="stylesheet" href="portada/css/flexslider.css" />
    <link rel="stylesheet" href="portada/css/prettyphoto.css" />

    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" />
    <![endif]-->
    <!-- Add custom CSS here -->
    <link href="portada/css/custom.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="./js/html5shiv.js"></script>
          <script src="./js/respond.js"></script>
    <![endif]-->
    <!-- Modernizer -->
    <script src="portada/js/modernizr.custom.js"></script>

</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">PosSystem</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="mailto:info@website.com">Contacto</a></li>
                    <li><a href="/App">Acceso</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <!-- top Content -->

    @RenderBody()
    <!-- top Content -->
    <!-- Footer Content -->
    @*@Html.Partial("_PageFooter")*@
    <!-- Footer Content -->
    <!-- JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="portada/js/jquery.prettyphoto.js"></script>
    <script src="portada/js/bootstrap.js"></script>
    <script src="portada/js/owl-carousel/owl.carousel.js"></script>
    <script src='portada/js/jquery.easing.1.3.js'></script>
    <script src="portada/js/jquery.flexslider.js"></script>
    <script src="portada/js/main.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="portada/js/gmaps.js"></script>

</body>
</html>