<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
     @Html.Partial("_LeftProfileMenu")
        <li class="bold">
            <a href="/" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Inicio</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-shopping-cart"></i> Ventas</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="layout-fullscreen.html">Full Screen</a>
                            </li>
                            <li>
                                <a href="layout-horizontal-menu.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-shop"></i> Compras</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="layout-fullscreen.html">Full Screen</a>
                            </li>
                            <li>
                                <a href="layout-horizontal-menu.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Inventario</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="layout-fullscreen.html">Full Screen</a>
                            </li>
                            <li>
                                <a href="layout-horizontal-menu.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-file-file-download"></i> Cuentas por cobrar</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="layout-fullscreen.html">Full Screen</a>
                            </li>
                            <li>
                                <a href="layout-horizontal-menu.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-file-file-upload"></i> Cuentas por pagar</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="layout-fullscreen.html">Full Screen</a>
                            </li>
                            <li>
                                <a href="layout-horizontal-menu.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>


        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-account-balance"></i> Bancos</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="layout-fullscreen.html">Full Screen</a>
                            </li>
                            <li>
                                <a href="layout-horizontal-menu.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="li-hover"><div class="divider"></div></li>
        <li class="li-hover"><p class="ultra-small margin more-text">Configuracion</p></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a href="/" class="waves-effect waves-cyan"><i class="mdi-communication-business"></i> Empresas</a>
                </li>
                <li class="bold">
                    <a href="/" class="waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> Usuarios</a>
                </li>
                <li class="bold">
                    <a href="/" class="waves-effect waves-cyan"><i class="mdi-communication-vpn-key"></i> Permisos</a>
                </li>
            </ul>
        </li>

    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>