@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using PosSystem.Data
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager



<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                        <p class="center login-form-text">Posystem, Facturacion y Punto de Venta Oline</p>
                    </div>
                </div>
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        
                        <i class="mdi-social-person-outline prefix"></i>
                        <input asp-for="Email"/>
                        <label for="email" class="center-align">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input  asp-for="Password"/>
                        <label for="password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12  login-text">
                        <input type="checkbox" id="remember-me" />
                        <label for="remember-me">Recuerdame</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit"  class="btn waves-effect waves-light col s12">Entrar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrarme Ahora!</a>
                        </p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small">
                            <a asp-action="ForgotPassword">Recuperar password</a>
                        </p>
                    </div>
                </div>

            </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
